@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
font-family: 'Android' ;
src: url('../fontes/idroid/IDroid\ Bold\ Italic.otf') format('opentype');
font-weight: normal;
}
:root {
--cor0: #c5ebd6;
--cor1: #83e1ad;
--cor2: #3ddc84;
--cor3: #2fa866;
--cor4: #1a5c37;
--cor5: #093d1e;

--fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
--fonte-destaque: 'Bebas Neue', cursive;
--font-android:'Android', cursive;
}
* {
margin: 0px;
padding: 0px;
}
body {
background-color: var(--cor0);
font-family: var(--fonte-padrao);
}
a.externo::after {
content:'\00A0\1F517';
}
@keyframes git {
0% {
transform: scale(1);
}
100%{
transform: scale(1.05);
}
}
#quiz-btn{
width: 55%;
height: 30px;
text-align: center;
background-image: linear-gradient(to left, white, green);
padding: 10;
border-radius: 4px 5px black;
font-size: 1.2rem;
font-weight: bold;
position: left;
}

#quiz-btn:hover{ 
color: white;
 animation-name: git;
animation-duration: 0.5s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
-o-animation-direction: alternate;

}
header {
background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
background-color: var(--cor4);
text-align: center;
padding-top:1rem;
}

.heading{
color: white;
font-family: var(--font-android);
font-size: 3.2rem;
margin-bottom: 20px;
text-shadow: 6px 8px 3px rgba(0, 0, 0.514);
}
.subtitle{
text-align: justify;
font-family: var(--fonte-padrao);
font-size: 1.2em;
text-align: center;
color: white;
text-shadow: 5px 2px 3px rgba(0, 0, 0.514);
}
.a {
display:inline-block;
color: var(--cor2);
text-align: center;
font-size: 1rem;
list-style: none;
margin: 1.5rem;

}
.a:hover{
font-size:1.5rem;    
color: yellow;
transition-duration: 0.7s;
}
main img {
width: 100%;
display: block;
}
main {
min-width: 300px;
max-width: 1000px;
margin: auto;
margin-bottom: 30px;
padding: 20px;
background-color: white;
box-shadow: 0px 0px 10px rgba(0, 0, 0.418);
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
}

.img-small {
max-width: 350px;
display: block;
margin: auto;
}

h1 { 
color: var(--cor5);
font-family: var(--font-android);
font-weight: normal;
font-size: 1.8em;
}
.aside-container {
color: black;
list-style-type: decimal;
font-weight: bold;
font-size: 1.2rem;
list-style-position: inside;
columns: 3;
margin: 15px;
padding: 10px;
}
aside>h2{ 
font-size: 1.5rem;
background-color:  var(--cor3);
color: white;
padding: 10px;
margin: -10px -10px 0px -10px;
border-radius: 10px 10px 0px 0px;
box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);

}
.more-content-history { 
text-align: justify;
text-indent: 30px;
font-size: 1em;
line-height: 2em;
}

h2 {
color: var(--cor5);
background-image: linear-gradient(to right, var(--cor1), transparent);
text-indent: 8px;
font-family: var(--font-android);
font-weight: normal;
font-size: 1.8em;
}

.img-more-content-android{
width: 100%;
max-width: 350px;
display: block;
margin: auto;
}

.more-content-android {   
margin: 15px 0px;
text-align: justify;
text-indent: 30px;
font-size: 1em;
line-height: 2em;}
img.more-content-mascot{
max-width: 250px;
display: block;
margin: auto;
}

.more-content-mascot {   
margin: 15px 0px;
text-align: justify;
text-indent: 30px;
font-size: 1em;
line-height: 2em;
}

.img-more-contente-irina{
max-width: 350px;
display: block;
margin: auto;
}

.more-content-irina{ 
margin: 15px 0px;
text-align: justify;
text-indent: 30px;
font-size: 1em;
line-height: 2em;
}

.img-bugdroid-more-content{
max-width: 350px;
display: block;
margin: auto;
}

.more-content-bugdroid{ 
margin: 15px 0px;
text-align: justify;
text-indent: 30px;
font-size: 1em;
line-height: 2em;
}
aside {
background-color: var(--cor2);
padding: 10px;
border-radius: 10px;
}

h3 { 
font-size: 1.5rem;
background-color:  var(--cor3);
color: white;
padding: 10px;
margin: -10px -10px 0px -10px;
border-radius: 10px 10px 0px 0px;
box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);

}
.about-android{
margin: 20px;
padding: 20px;

}

.about-container {
margin: 10px;
list-style-type: '\2714\00A0\00A0';
color: red;
font-size: 1.5rem;
list-style-position:inside;
columns: 2;
}
.footer-content{
text-decoration: none;
list-style: nome;
font-weight: bold;
background-color: var(--cor5);
color: white;
text-align: center;
font-size: 1em;
padding: 5px;
}
strong {
list-style: none;
color: white;
}
